################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SelenuimTest/packages
/RxExtensions/packages
/RxExtensions/bin/Debug
/RxExtensions/obj/Debug
/SelenuimTest/bin/Debug
/SelenuimTest/obj/Debug
/WordCounter/packages
/PrismTesting/PrismTesting/bin/Debug
/PrismTesting/PrismTesting/obj/Debug
/PrismTesting/packages
/PrismTesting/HelloWorldModule/HelloWorldModule/bin/Debug
/PrismTesting/HelloWorldModule/HelloWorldModule/obj/Debug
/OwinSelfHost/_NCrunch_OwinSelfHost/OwinSelfHost.crunchsolution.cache
/OwinSelfHost/OwinSelfHost.ncrunchsolution.user
/OwinSelfHost/OwinSelfHost.v2.ncrunchsolution
/OwinSelfHost/RestWrap.Console/bin/Debug
/OwinSelfHost/RestWrap.Console/obj/Debug
/OwinSelfHost/RestWrap.Console/RestWrap.Console.v2.ncrunchproject
/OwinSelfHost/RestWrap/obj/Debug
/OwinSelfHost/RestWrap/bin/Debug
/OwinSelfHost/packages
/OwinSelfHost/OwinSelfHost.Test/bin/Debug
/OwinSelfHost/OwinSelfHost.Test/obj/Debug
/OwinSelfHost/OwinSelfHost.Integration.Test/obj/Debug
/OwinSelfHost/OwinSelfHost.Integration.Test/bin/Debug
/OwinSelfHost/OwinSelfHost/obj/Debug
/OwinSelfHost/OwinSelfHost/OwinSelfHost.v2.ncrunchproject
/OwinSelfHost/OwinSelfHost/RestWrapHost.v2.ncrunchproject
/OwinSelfHost/OwinSelfHost.Integration.Test/OwinSelfHost.Integration.Test.v2.ncrunchproject
/OwinSelfHost/OwinSelfHost.Integration.Test/RestWrapHost.Integration.Test.v2.ncrunchproject
/OwinSelfHost/OwinSelfHost.Test/OwinSelfHost.Test.v2.ncrunchproject
/OwinSelfHost/OwinSelfHost.Test/RestWrap.Test.v2.ncrunchproject
/OwinSelfHost/RestWrap/RestWrap.v2.ncrunchproject
/AngularPractice/packages
/AngularPractice/_NCrunch_AngularPractice
/OwinSelfHost/Cache
/AngularPractice/AngularPractice.v2.ncrunchsolution
/NeuralNetDistribution/NeuralNetDistribution/bin/Debug/NeuralNetDistribution.pdb
/NeuralNetDistribution/NeuralNetDistribution/bin/Debug/NeuralNetDistribution.dll
/NeuralNetDistribution/NeuralNetDistribution/bin/Debug/MathNet.Numerics.xml
/NeuralNetDistribution/NeuralNetDistribution/bin/Debug/MathNet.Numerics.pdb
/NeuralNetDistribution/NeuralNetDistribution/bin/Debug/MathNet.Numerics.IO.xml
/NeuralNetDistribution/NeuralNetDistribution/bin/Debug/MathNet.Numerics.IO.pdb
/NeuralNetDistribution/NeuralNetDistribution/bin/Debug/MathNet.Numerics.IO.dll
/NeuralNetDistribution/NeuralNetDistribution/bin/Debug/MathNet.Numerics.dll
/NeuralNetDistribution/NeuralNetDistribution/bin/Debug/AForge.xml
/NeuralNetDistribution/NeuralNetDistribution/bin/Debug/AForge.Neuro.xml
/NeuralNetDistribution/NeuralNetDistribution/bin/Debug/AForge.Neuro.dll
/NeuralNetDistribution/NeuralNetDistribution/bin/Debug/AForge.Math.xml
/NeuralNetDistribution/NeuralNetDistribution/bin/Debug/AForge.Math.dll
/NeuralNetDistribution/NeuralNetDistribution/bin/Debug/AForge.Genetic.xml
/NeuralNetDistribution/NeuralNetDistribution/bin/Debug/AForge.Genetic.dll
/NeuralNetDistribution/NeuralNetDistribution/bin/Debug/AForge.dll
/NeuralNetDistribution/NeuralNetDistribution.v12.suo
/NeuralNetDistribution/NeuralNetDistribution.v11.suo
/NeuralNetDistribution/NeuralNetDistribution.sln.DotSettings.user
